html,body {
    height: 100%;
}

html {
    height: 100%;
    font-size: 1em;
}

body {
    font-family:  Roboto, -apple-system, BlinkMacSystemFont, Oxygen, Ubuntu,
    Cantarell, “Fira Sans”, “Droid Sans”, “Helvetica Neue”, Arial, sans-serif;
}

h1 {
    font-size: 1.6rem;
}

button {
    margin: .25rem;
    margin-left: .5rem;
}

input {
    margin-left: .5rem;
}

li.option {
    line-height: z1rem;
    list-style: none;
}

li.option button {
    margin-right: .5rem;
		   
}

.is-active {
    font-weight: bold;
}

.navigation {
    padding-top: 1rem;
    background: $bg-blue;
    color: white;
}

.navigation a {
    color: white;
    text-decoration: none;
    display: block;
}

.navigation a:hover {
    text-decoration: underline;
}

.content {
    background: $bg-light-gray;
    padding-left: 0;
    padding-right: 0;
}

.mdf {
    padding-top: 1rem;
    background: white;
    box-shadow: 0px 0px 2rem rgba(.5,.5,.5,.15);
}

.top-bar {
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: .5rem;
    padding-right: .5rem;
    font-weight: 500;
    background: white;
    border-bottom: 0.1rem solid rgba(.5, .5, .5, .15);
}

.kpos {
    font-size: 1.1rem;
    font-weight: 800;
}